<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your description here">
    <meta name="author" content="Your Name">
    <title>QOD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="favicon.ico"> <!-- Link to your favicon -->

    <script>
        function disableSubmitButton() {
            console.log("freeze button")
        const submitButton = document.getElementById('submitBtn');
        submitButton.disabled = true;
        submitButton.value = 'Uploading...'; // Optional: Change the button text to indicate processing
    }
    </script> <!-- Link to your JavaScript file -->
    
</head>
<body>

    <h1>Welcome to the Offical Website of day_of_the_qutoes_</h1>

    <h2>How to submit a quote of the day!</h2>
    <ol>
        <li>Upload the image that you want to be posted on Instagram</li>
        <li>Edit the photo, you can add text to the photo if you would like!</li>
        <li>Hit save once done editing!!!! **It will not work if you do not do that**</li>
        <li>Enter in what you want the caption to be</li>
        <li>Hit submit!</li>
    </ol>

    <form method="POST" enctype="multipart/form-data" onsubmit="disableSubmitButton()">
        <label for="file">Choose an image to upload:</label>
        <input type="file" id="image_upload" accept="image/*" />
        <div id="editor_container" style="width: 800px; height: 600px;"></div>
        <label for="text">Enter your caption:</label>       
        <input type="text" name="caption" id="caption" required><br><br>
        <input type="text" id="base64" name="base64" required hidden>
        <input type="submit" value="Upload"id ='submitBtn'>
    </form>

    
    <script src="https://scaleflex.cloudimg.io/v7/plugins/filerobot-image-editor/latest/filerobot-image-editor.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>    
</body>
</html>

